body {
  background-color: darkolivegreen;
}

#containeroben,
#containerunten {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head {
  font-family: sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#Btnvegan {
  font-family: sans-serif;
  font-size: 10px;
  background-color: rgb(255, 230, 0);
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#Btnvegie {
  font-family: sans-serif;
  font-size: 10px;
  background-color: rgb(255, 230, 0);
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#Btnalles {
  font-family: sans-serif;
  font-size: 10px;
  background-color: rgb(255, 230, 0);
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#Btndiet {
  font-family: sans-serif;
  font-size: 10px;
  background-color: rgb(255, 230, 0);
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
