body {
  background-color: darkolivegreen;
}

button {
  font-family: sans-serif;
  font-size: 10px;
  background-color: rgb(255, 230, 0);
  margin: 5px;
  /*padding-left: 50px;
  padding-right: 50px;*/
  width: 200px;
  /*padding-bottom: 10px;
  padding-top: 10px;*/
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
